/**
 * This is a demo stylesheet for jmpress.js
 * It is not meant to be a part of jmpress.js and is not required by jmpress.js.
 */
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

/*
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** GENERAL **/
body {
	font-family: 'Quicksand', Verdana, sans-serif;
	min-height: 740px;
	-webkit-font-smoothing: antialiased;
}
b, strong { font-weight: bold }
i, em { font-style: italic}
a {
	color: inherit;
	text-decoration: none;
	padding: 0.1em 0.2em;
	background-color: rgba(255,255,255,0.3);
	border-radius: 0.2em;
	
	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-ms-transition:     0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}
a:hover {
	background-color: rgba(51,51,51,1);
}
h1, h1 a {
	font-size: 68px;
	line-height: 72px;
	margin-bottom: 10px;
}
h2 {
	font-size: 42px;
}
h4 {
	font-size: 32px;
	line-height: 32px;
	margin-left: 50px;
}

/** NAV **/
#nav {
	position: fixed;
	left: 0px;
	top: 10px;
	z-index: 99;
}
#nav li {
	list-style: none;
	margin: 8px 0px;
}
#nav a {
	background-color: transparent;
	border-left: 50px solid #ffcc00;
	font-size: 110%;
}
#nav a:hover, #nav a.active {
	border-left: 100px solid #ffcc00;
	color: #333;
}
.next {
	float: right;
	margin-top: 50px;
	font-size: 22px;
}

/** COMMON STEP STYLES **/
.step {
	width: 900px;
	padding: 40px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	font-family: 'Quicksand', Verdana, sans-serif;

	font-size: 26px;
	line-height: 1.5;
}

/* fade out inactive slides */
.step {
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}
.step:not(.active) {
	opacity: 0.3;
}
.step ul {
	margin-left: 20px;
}
.step ul li {
	list-style: disc;
	font-size: 20px;
}

.indent {
	font-size: 48px;
	float: right;
}
.ui-icon {
	background-size: 1024px 960px;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 0px;
	right: 100px;
}
.ui-icon-star { background-position: -896px -448px; }
.ui-icon-person { background-position: -576px -384px; }
.ui-icon-arrowthick-1-s { background-position: -256px -192px; }
.ui-icon-document { background-position: -128px -384px; }

.impress {
	font-size: 48px;
}
.impress sup {
	font-size: 20px;
	position: relative;
	top: -20px;
	left: 10px;
}

/* hint on the first slide */

.hint {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;

	background: rgba(255,204,0,1);
	color: #000;
	text-align: right;

	font-size: 22px;
	padding: 10px;

	z-index: 100;

	opacity: 0;

	-webkit-transform: translateY(400px);
	-moz-transform:    translateY(400px);
	-ms-transform:     translateY(400px);
	-o-transform:      translateY(400px);
	transform:         translateY(400px);

	-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
	transition:         opacity 1s,         transform 0.5s 1s;
}

.step-about + .hint {
	opacity: 1;

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
	transition:         opacity 1s 5s,         transform 0.5s;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
}

/* NOT SUPPORTED STYLES */

.not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}