/* ==========================================================================
   FLOATING
   ========================================================================== */
@-webkit-keyframes floater {
	0%   { margin-top: 0px;   }
	50%  { margin-top: -20px; }
	100% { margin-top: 0px;   }
}

/* ==========================================================================
   FLY
   ========================================================================== */
@-webkit-keyframes fly {
	0%   { top: 1500px; }
	100% { top: -1500px; }
}

/* ==========================================================================
   SWIM
   ========================================================================== */
@-webkit-keyframes swim {
	0%   { left: 2500px; }
	100% { left: -1500px; }
}