- require("bootstrap");
.container
	.row
		.span12
			.page-header
				h1
					| jmpress.js
					small  builder
	.row
		.span8
			p
				| Build your own version of jmpress.js
			p
				| (Some more help...)
			form.form-horizontal#choose-form
				fieldset
					.form-actions#form-actions
						#downloadify
						button.btn.btn-primary#download
							| Create download with Data Url
						span &nbsp;
						a.btn.btn-primary#dataurl(style="display:none")
							| Download (Right click, and save as)
		.span4
			h2 Common builds
			#settings
