.container-fluid
	.row-fluid
		.span12
			.page-header
				h1 jmpress.js
					small  docs
	.row-fluid
		.span2
			ul.nav.nav-tabs.nav-stacked!= require("../../../src/docs-nav.jade")()
		.span10.content