.container-fluid
	.row-fluid
		.span10
			.page-header
				h1 jmpress.js
					small  docs
		.span2
			a.btn.btn-large.edit-button(href="#") Edit This Page
	.row-fluid
		.span2
			ul.nav.nav-pills.nav-stacked!= require("../../../src/docs-nav.jade")()
		.span10.content