li#docs-index: a(href="#docs-index") Getting Started
li#docs-basic: a(href="#docs-basic") Basic Usage
li#docs-inline: a(href="#docs-inline") Inline Attributes
li#docs-downloads: a(href="#docs-downloads") Downloads

li.nav-header Basic Components
li#docs-circular: a(href="#docs-circular") Circular Stepping
li#docs-active: a(href="#docs-active") Active
li#docs-viewport: a(href="#docs-viewport") Viewport
li#docs-mobile: a(href="#docs-mobile") Mobile

li.nav-header Advanced Components
li#docs-ways: a(href="#docs-ways") Ways Routing
li#docs-start: a(href="#docs-start") Starting Step
li#docs-hash: a(href="#docs-hash") Hash in URL
li#docs-ajax: a(href="#docs-ajax") Ajax
li#docs-core: a(href="#docs-core") Core

li.nav-header Expert Components
li#docs-templates: a(href="#docs-templates") Templates
li#docs-animation: a(href="#docs-animation") Animation
li#docs-keyboard: a(href="#docs-keyboard") Keyboard
li#docs-mouse: a(href="#docs-mouse") Mouse
li#docs-jqevents: a(href="#docs-jqevents") jQuery Events
li#docs-near: a(href="#docs-near") Near

li.nav-header Plugins
li#docs-plugin: a(href="#docs-plugin") Writing a Plugin
li#docs-pluginduration: a(href="#docs-pluginduration") Duration
li#docs-pluginsecondary: a(href="#docs-pluginsecondary") Secondary
li#docs-plugintoggle: a(href="#docs-plugintoggle") Toggle

li.nav-header Support
li#docs-examples: a(href="#docs-examples") Examples
li#docs-help: a(href="#docs-help") Where To Get Help
li#docs-contribute: a(href="#docs-contribute") Contribute